<!--CONTENT-->
<div class="container">
  <div class="row mb-4 align-items-center">
    <div class="col-lg-6">
      <h1>
        What is the best way to keep track of your record collection?
      </h1>
      <p class="lead">Find out by clicking the button below!</p>
      <button type="button" class="btn btn-lg btn-dark">
        Click me!
      </button>
    </div>
    <div class="col-lg-6 image-wrapper">
      <img class="w-100 rounded" src="assets/images/record_playing.jpg" alt="Record Playing">
    </div>
  </div>
  <div class="row gx-4">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Lists!</h4>
          <p class="card-text">Add collected records to the thing like it's no big deal.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">More stuff!</h4>
          <p class="card-text">You can probably do some other stuff at some point this is all work in progress so
            whatever.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">That's it?</h4>
          <p class="card-text">Yeah that's kinda it. I guess you can still look at the website. Looks kinda cool.</p>
        </div>
      </div>
    </div>
  </div>
</div>
