<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Lokalen Speicher löschen</h2>
        <p>Entfernt alle gespeicherten Einstellungen und Daten aus dem lokalen Speicher des Geräts.</p>
      </ion-label>
      <ion-button slot="end" color="danger" disabled="{{dataCount===0}}" (click)="clearStorage()">
        Löschen
        <ion-icon slot="end" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
