<div class="container">
  <ngb-carousel>
    <!-- https://stackoverflow.com/questions/56146006/how-to-use-ngb-carousel-in-angular-7-app -->
    <!-- Slide 1 -->
    <ng-template ngbSlide>
      <img src="assets/images/lama.jpg" alt="Lama Placeholder" class="img-fluid">
      <div class="carousel-caption d-none d-md-block">
        <h5>Lama Placeholder</h5>
        <p>Weil ... warum nicht?</p>
      </div>
    </ng-template>

    <!-- Slide 2 -->
    <ng-template ngbSlide>
      <img src="assets/images/tostbrot.png" alt="Toast Placeholder" class="img-fluid">
      <div class="carousel-caption d-none d-md-block">
        <h5>Toast Placeholder</h5>
        <p>Toasts sind toll, auch als Platzhalter!</p>
      </div>
    </ng-template>
  </ngb-carousel>

  <!-- Info Text -->
  <div class="my-5">
    <h1>Willkommen bei Placeholder!</h1>
    <p>Die einzige Seite, die wirklich nur Platzhalter hat! Hier finden Sie eine Sammlung der merkwürdigsten Daten,
      die jemals als Platzhalter verwendet wurden. Viel Spaß beim Durchstöbern!</p>
  </div>

  <!-- Tabelle Begin -->
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Bild</th>
        <th>Beschreibung</th>
        <th>Datum hinzugefügt</th>
        <th>Aktion</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><img src="assets/images/lama.jpg" alt="Lama" width="50"></td>
        <td>Lama Placeholder</td>
        <td>01.01.2023</td>
        <td>
          <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#detailsModal1" (click)="openModal()">
            Details
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- Tabelle End -->
</div>
